.navbar {
  background-color: #0f172a;
  padding: 12px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // Certifique-se de que a navbar ocupa toda a largura da tela
  top: 0; // Alinhar ao topo
  left: 0; // Alinhar à esquerda
  z-index: 1000; // Garantir que a navbar esteja acima de outros elementos

  .page-title {
    color: aliceblue;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .navbar-itens-container {
    width: 100%;
    display: flex;
    justify-content: end;

    .navbar-itens {
      display: flex;
      justify-content: end;

      li {
        list-style: none;
        margin: 1rem 0;
        padding-left: 7%;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.3rem;
          cursor: pointer;
          font-weight: lighter;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-itens {
      display: none;
    }

    .page-title {
      width: 100%;
    }

    .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 24px;
      cursor: pointer;
      z-index: 1000;

      .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
      }

      &.open {
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        .bar:nth-child(2) {
          opacity: 0;
        }

        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    .menu-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      opacity: 99%;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #0f172a;
      padding: 2rem 1rem;
      z-index: 999;
      transition: transform 0.6s ease-in-out;
      transform: translateY(-100%);

      &.open {
        transform: translateY(0);
        .navbar-itens-container {
          justify-content: center;
          align-items: center;
          .navbar-itens {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

      li {
        list-style: none;
        margin: 1rem 0;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 3rem;
          cursor: pointer;

          &.active {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
